/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 34, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
* {
  box-sizing: border-box;
  font-family: georgia;
}

/******************** APPLICATION LAYOUT VIEW ********************/
/* line 42, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.header {
  background-color: black;
  width: 100%;
  height: 4rem;
  line-height: 1.8;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

/* line 55, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
h2 {
  text-align: center;
  font-size: 3em;
  font-family: 'PFDinTextCompPro', helvetica;
  margin-top: 80px;
}

/* line 62, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 67, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
a:visited {
  color: black;
}

/* line 71, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.header-text {
  float: left;
  color: white;
  padding-top: 5px;
  font-size: 1.75em;
  font-weight: bold;
  text-decoration: none;
  font-family: helvetica;
  display: inline-block;
}

/* line 83, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.header-text:visited {
  color: white;
}

/* line 87, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.logo {
  float: left;
  display: inline-block;
  margin: 5px 5px 0 5px;
  height: 50px;
  width: 50px;
  background-image: url("http://challenges.s3.amazonaws.com/mta-app-quest/GA_logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 98, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
footer {
  margin-top: 20px;
  height: 60px;
  text-align: center;
  background-color: black;
  color: white;
  font-family: helvetica;
  position: absolute;
  width: 100%;
  left: 0;
  /*bottom: 0;*/
  padding-left: 20px;
}

/******************** INDEX VIEW ********************/
/* line 113, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
#newLesson {
  margin: 0 auto;
  font-size: .75em;
  line-height: 2.5;
  text-align: center;
  background-color: #FA4542;
  color: white;
  width: 300px;
  height: 60px;
  border-radius: 5px;
}

/* line 125, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
#newLesson:hover {
  background-color: #F6201D;
}

/* line 129, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
#newLessonForm {
  display: none;
  margin: 0 auto;
}

/* line 134, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
label {
  font-size: 24px;
  font-family: helvetica;
}

/* line 139, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
button {
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.8;
  text-align: center;
  background-color: grey;
  color: white;
  width: 30%;
  height: 50px;
  border-radius: 5px;
}

/* line 151, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.lesson-listing {
  width: 50%;
  /*border: 1px solid grey;*/
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  background-color: #ECECEC;
  font-size: 1.5em;
  font-family: helvetica;
}

/* line 162, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.showLessonForm {
  display: none;
}

/* line 166, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.icon {
  border: 1px solid white;
  margin-top: 10px;
  width: 100%;
  padding: 10px 0 10px 10px;
  border-radius: 2px;
  background-color: #FFFFFF;
  cursor: pointer;
}

/* line 176, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.icon:hover {
  outline: 6px solid #FBD334;
  outline-offset: -5px;
}

/* line 182, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.surveyLink {
  width: 49.4%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}

/* line 190, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.hidden-link {
  display: none;
}

@media (max-width: 1180px) {
  /* line 195, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  .surveyLink {
    width: 100%;
  }

  /* line 198, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  #newLessonForm {
    width: 100%;
  }
}
@media (max-width: 700px) {
  /* line 205, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  .lesson-listing {
    width: 100%;
  }
}
/******************** LESSON REPORT VIEW ********************/
/* line 212, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
h3 {
  font-size: 2em;
  margin-top: 5px;
  text-align: center;
}

/* line 217, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.box {
  float: left;
  height: 400px;
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
}

/******************** RESPONSE NEW VIEW ********************/
/* line 228, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.score {
  display: inline-block;
  width: 49%;
  margin-left: 10px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  background-color: #ECECEC;
  font-size: 1.5em;
  font-family: helvetica;
  height: 200px;
  margin-left: 7px;
  text-align: center;
}

/* line 244, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.radio {
  border: 1px solid #FA4542;
  background-color: #FA4542;
  width: 15%;
  display: inline-block;
  margin-left: -3px;
  height: 50px;
  line-height: 1.8;
}

/* line 254, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.radio:hover {
  background-color: #F6201D;
  outline: 7px solid #FBD334;
  outline-offset: -3px;
}

/* line 260, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.name-box {
  font-family: helvetica;
  background-color: #ECECEC;
  width: 50%;
  margin: 30px auto;
  padding: 20px;
}

/* line 268, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
input[type="text"], textarea {
  height: 50px;
  line-height: 2;
  width: 98%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}

/* line 277, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
input[type="submit"] {
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.8;
  text-align: center;
  background-color: #FA4542;
  color: white;
  width: 98%;
  height: 60px;
  border-radius: 5px;
}

/* line 288, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
input[type="submit"]:hover {
  background-color: #F6201D;
}

/* line 292, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.submit-button {
  width: 30%;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  /* line 298, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  .score {
    display: block;
    margin: 10px auto;
  }
}
@media (max-width: 1100px) {
  /* line 305, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  .score {
    display: block;
    margin: 10px auto;
  }
}
@media (max-width: 700px) {
  /* line 313, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  .score {
    width: 100%;
  }

  /* line 316, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  .name-box {
    width: 100%;
  }
}
