/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
@font-face {
  font-family: "Circular";
  src: url(/assets/Circular/CircularStd-Black-52659624a73a6f810bcdfd194e4064aec5671a4e526ba371e2cbeb1a3584b4a4.otf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'PFDinTextCompPro';
  src: url(/assets/PFDinPro/PFDinTextCompPro-Bold-97f95893f45362a47669e47035d1402c7815c90a10344d7d4d316789f3318be1.ttf);
}
@font-face {
  font-family: 'News706';
  src: url(/assets/News706/tt0365m_-0a56905891083e5027f9cc2cc95b5b4409b5f470bcf92a5d7b8b5bb4031c6f82.ttf);
}
/* line 40, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

/******************** APPLICATION LAYOUT VIEW ********************/
/* line 48, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.header {
  background-color: black;
  width: 100%;
  height: 8em;
  line-height: 1.8;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  z-index: 1;
}

/* line 62, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
h2 {
  text-align: center;
  font-size: 3em;
  font-family: "PFDinTextCompPro";
  margin-top: 80px;
}

/* line 69, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 74, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
a:visited {
  color: black;
}

/* line 78, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.header-text {
  float: left;
  color: white;
  padding-top: 5px;
  font-size: 4.75em;
  font-weight: bold;
  text-decoration: none;
  font-family: helvetica;
  display: inline-block;
  font-family: 'PFDinTextCompPro', helvetica;
}

/* line 92, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.header-text:visited {
  color: white;
}

/* line 96, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.logo {
  float: left;
  display: inline-block;
  margin: 5px 5px 0 5px;
  height: 7rem;
  width: 7rem;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 106, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
footer {
  margin-top: 20px;
  height: 60px;
  text-align: center;
  background-color: black;
  color: white;
  font-family: "Circular";
  position: relative;
  width: 100%;
  bottom: 0;
  padding-left: 20px;
}

/******************* INDEX VIEW *******************/
/* line 121, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
main {
  width: 85vw;
  padding: 8em 0;
  margin: 0 auto;
}

/* line 127, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.title-box {
  padding: 4rem 0 2rem 0;
}

/* line 130, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.title-box h2 {
  text-transform: uppercase;
  margin: 0;
  text-align: left;
}

/* line 136, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.list-box {
  width: 100%;
  background-color: #C3C3C3;
}

/* line 140, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.new-lesson-box {
  width: 100%;
  height: 125px;
  background-color: #ECECEC;
  font-family: "PFDinTextCompPro";
}

/* line 148, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
#newLesson {
  font-family: "PFDinTextCompPro";
  text-transform: uppercase;
  height: 100px;
  font-size: 3rem;
  color: black;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
  padding: 50px;
}

/* line 165, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
#newLessonForm {
  display: none;
  margin: 0 auto;
  background-color: #BE0200;
  font-family: "PFDinTextCompPro";
  width: 85%;
  padding: 20px;
}

/* line 189, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.lesson-listing {
  text-transform: uppercase;
  border-bottom: 1px solid lightgrey;
  padding: 50px;
}

/* line 197, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.title {
  width: 90%;
  margin-right: 0;
  font-size: 3rem;
  font-family: "PFDinTextCompPro";
  text-align: left;
}

/* line 205, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.small-title {
  font-family: 'Source Sans Pro';
  font-size: 1rem;
  color: #888888;
}

/* line 211, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.showLessonForm {
  display: none;
  background-color: #BE0200;
  padding: 20px;
}

/* line 217, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.icon {
  text-transform: none;
  font-size: 1.25rem;
  border: 1px solid white;
  margin-top: 10px;
  width: auto;
  display: inline-block;
  padding: 10px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: #FA4542;
  color: white;
  box-shadow: 2px 2px #888888;
  cursor: pointer;
}

/* line 234, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.icon a {
  color: white;
}

/* line 238, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.resultsIcon {
  display: block;
  float: right;
  padding-right: 50px;
}

/* line 243, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.resultsIcon a {
  display: block;
  font-weight: bold;
}

/* line 249, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.edit-form {
  width: 48%;
  display: inline-block;
}

/* line 253, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.edit-date-form {
  width: 20%;
  display: inline-block;
}

/* line 258, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
input[type="submit"] {
  margin: 0 auto;
  font-size: 1.5em;
  line-height: 1.8;
  text-align: center;
  background-color: #818181;
  color: white;
  width: 220px;
  display: inline-block;
  height: 60px;
  border-radius: 5px;
}

/* line 271, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
input[type="submit"]:hover {
  background-color: #888888;
}

/* line 275, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.submit-button {
  width: 30%;
  margin: 0 auto;
}

/* line 280, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.response-submit-button {
  float: right;
  width: 30%;
  margin: 50px;
}

/* line 286, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.hideForm {
  line-height: 3;
  display: inline-block;
  cursor: pointer;
  color: lightgrey;
  padding-left: 10px;
}

/* line 309, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.hidden-link {
  display: none;
}

@media (max-width: 700px) {
  /* line 324, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  .lesson-listing {
    width: 100%;
  }

  /* line 327, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  .header-text {
    line-height: 3;
    font-size: 36px;
  }
}
/******************** LESSON REPORT VIEW ********************/
/* line 335, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
h3 {
  font-size: 2em;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center;
}

/* line 342, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
h4 {
  margin: 0;
  text-align: center;
}

/* line 347, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.graph-title {
  text-transform: uppercase;
  font-family: "PFDinTextCompPro";
  font-size: 4rem;
}

/* line 353, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.box-wrapper {
  width: 900px;
  margin: 0 auto;
}

/* line 358, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.box {
  height: 400px;
  width: 390px;
  display: inline-block;
  margin: 0 auto;
  border-bottom: 1px solid lightgrey;
}

/* line 367, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.button-wrapper {
  float: right;
}

/* line 373, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.graph-button {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

/* line 379, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.button-holder {
  margin: 0 auto;
  display: block;
  height: 75px;
  width: 75px;
}

/* line 387, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.statistics {
  margin: 0 auto;
  width: 22%;
}

/* line 393, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.statistics p {
  display: block;
  margin: 5px;
  text-align: center;
}

/* line 400, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.comments-list {
  display: none;
}

/* line 404, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.name-box.comment {
  width: 80%;
}

/* line 408, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.button-holder.full {
  margin: 0 auto;
  width: 100%;
}

/* line 412, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
#showComments {
  width: 250px;
  clear: both;
  margin: 10px auto;
  display: block;
  background-color: #CE0000;
}

/* line 420, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.name {
  font-family: "PFDinTextCompPro";
  font-size: 2rem;
  margin: 0;
}

/* line 426, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.comment-body {
  height: 66px;
  overflow: scroll;
}

@media (max-width: 1120px) {
  /* line 432, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  .button-holder {
    display: block;
  }
}
@media (max-width: 800px) {
  /* line 438, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  .box-wrapper {
    width: 400px;
    margin: 0 auto;
  }

  /* line 442, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  .box {
    display: block;
    width: 350px;
    margin: 0;
  }

  /* line 447, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  #showComments {
    width: 100%;
  }

  /* line 450, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  .button-holder {
    display: block;
  }
}
@media (max-width: 500px) {
  /* line 457, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  .button-wrapper {
    width: 100%;
  }
}
/******************** RESPONSE NEW VIEW ********************/
/* line 464, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.survey-wrapper {
  width: 60vw;
  margin: 0 auto;
  padding-bottom: 100px;
}

/* line 471, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.score {
  display: inline-block;
  width: 48%;
  margin: 10px auto;
  font-family: "PFDinTextCompPro";
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

/* line 482, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.verticalLine {
  border-left: 1px solid lightgrey;
  height: 100px;
  display: inline-block;
  margin-left: 8px;
}

/* line 489, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
label {
  font-size: 3rem;
  font-family: "PFDinTextCompPro";
  text-transform: uppercase;
}

/* line 495, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.radio {
  padding: 0 5px;
  display: inline-block;
}

/* line 500, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.radio:hover {
  background-color: #ECECEC;
}

/* line 504, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.name-box {
  font-family: "Circular";
  background-color: #ECECEC;
  width: 50%;
  margin: 30px auto;
  padding: 20px;
}

/* line 512, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.name-box.add-comments {
  width: 100%;
}

/* line 516, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.name-box.anonymous {
  float: left;
  margin: 0;
}

/* line 521, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
input[type="text"], textarea {
  height: 50px;
  line-height: 2;
  width: 98%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}

/* line 530, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.input[type="submit"]:hover {
  background-color: #888888;
}

@media (max-width: 1050px) {
  /* line 536, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  .verticalLine {
    display: none;
  }

  /* line 539, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  .score {
    display: block;
    width: 100%;
    margin: 10px auto;
  }
}
@media (max-width: 700px) {
  /* line 547, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  .survey-wrapper {
    width: 98%;
  }

  /* line 550, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  .name-box {
    width: 100%;
  }

  /* line 554, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  .response-submit-button {
    float: none;
    clear: both;
    width: 100%;
    padding-top: 20px;
    margin: 20px auto;
  }
}
/******************** RESPONSE THANKS VIEW ********************/
/* line 566, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.thanks-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 5em;
  display: block;
  background-color: #302F2A;
  z-index: -1;
}

/* line 579, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.thank-you-icon {
  display: block;
  height: 80vh;
  width: 95vh;
  margin: 0 auto;
}

@media (max-width: 700px) {
  /* line 587, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
  .thank-you-icon {
    height: 285px;
    width: 375px;
  }
}
/* line 594, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.statistics p {
  float: left;
  display: inline;
}

/* line 599, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.hmenu {
  float: right;
  color: white;
}

/* line 606, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
.hmenu a {
  z-index: 1;
  color: white;
  text-decoration: none;
  position: relative;
}

/* line 613, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 1em 5em 0 0;
  z-index: 1;
}

/* line 620, /Users/melissasteffan/wdi/projects/nananananonymous/app/assets/stylesheets/application.css.scss */
ul.hmenu li {
  z-index: 1;
  color: white;
  position: relative;
  text-align: right;
  display: block;
  font-weight: bold;
}
