
<h2>GA WDI <%=@event.name %> Lesson Feedback</h2>

<div class="box">
    <h3 class="graph-title">Comfort</h3>
    <%= column_chart @responses.group(:comfort_score).count %>
</div>

<div class="box">
    <h3 class="graph-title">Completeness</h3>
    <%= column_chart @responses.group(:completeness_score).count %>
</div>

<!-- # <% @event.responses.each do |response| %> -->

<!-- stuff here -->
<!-- # <%= response.comfort_score %>
# <% end %> -->
