<h2>GA WDI <%=@event.name %> Lesson Feedback</h2>

<div class="box">
    <h3 class="graph-title">Average Comfort</h3>
    <div id="comfort_chart" style="min-width: 280px; height: 360px; margin: 0 auto"></div>
</div>

<div class="box">
    <h3 class="graph-title">Average Completeness</h3>
    <div id="complete_chart" style="min-width: 280px; height: 360px; margin: 0 auto"></div>
</div>

<% @event.responses.each do |response| %>

<!-- stuff here -->

<% end %>
