/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
     font-family: 'News706';
     src: asset-url('tt0363m_.ttf');
     font-weight: normal;
     font-style: normal;

}

@font-face {
    font-family: 'PFDinTextCompPro';
    src: asset-url('/PFDinPro/PFDinTextCompPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}
 h2 {
     text-align: center;
     font-size: 3em;
     font-family: 'PFDinTextCompPro';
     font-family: 'News706';
 }

a {
    color: black;
    text-decoration: none;
}
 a:visited {
     color: black;
 }

/******************** INDEX VIEW ********************/
#newLesson {
    font-size: 2em;
    text-align: center;
    color: #2E7AC8;
}

#newLessonForm {
    display: none;
    margin: 0 auto;
}

.lesson-listing {
    width: 50%;
    /*border: 1px solid grey;*/
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    background-color: lightgrey;
}

.showLessonForm {
    display: none;
}

.icon {
    border: 1px solid white;
    margin-top: 10px;
    width:100%;
    padding: 10px 0 10px 10px;
    border-radius: 2px;
    background-color: #FA4542;
}

.icon:hover {
    outline: 2px solid white;
    outline-offset:-5px;
}


/******************** LESSON REPORT VIEW ********************/

h3 {
    font-size: 2em;
    margin-top: 5px;
    text-align: center;
}
.box {
    float: left;
    height: 400px;
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
}
