/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// @font-face {
//      font-family: 'PFDinTextCompPro';
//      src: asset-url('PFDinTextCompPro-Regular.ttf');
//      font-weight: normal;
//      font-style: normal;
//
// }


// @font-face {
//   font-family: "PFDin";
//   src: url("http://ericaandersen.net/fonts/PF%20Din%20Text%20Comp%20Pro%20Bold.ttf%22") format("tff");
//   font-style: normal;
//   font-weight: normal;
// }

// @font-face {
//   font-family: "News706";
//   src: url("News706 BT Roman.ttf") format("ttf");
//   font-style: normal;
//   font-weight: normal;
// }

@font-face {
 font-family: "Avenir";
 src: url("http://ericaandersen.net/fonts/Avenir.ttc") format("ttc");
 font-style: normal;
 font-weight: normal;
}


@font-face {
    font-family: 'PFDinTextCompPro';
    src: font-url("PFDinPro/PFDinTextCompPro-Bold.ttf");


}
//
@font-face {
    font-family: 'News706';
    src: font-url("News706/tt0365m_.ttf");


}
//
// @font-face {
//     font-family: 'Circular';
//     src: font-url("Circular/CircularStd-Black.otf");
//
//
// }

* {
    box-sizing: border-box;
    font-family: 'Avenir';
}

/******************** APPLICATION LAYOUT VIEW ********************/


.header {
    background-color: black;
    width: 100%;
    height: 4rem;
    line-height: 1.8;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}


 h2 {
     text-align: center;
     font-size: 3em;

     font-family: "PFDinTextCompPro";
     margin-top: 80px;
 }

a {
    color: black;
    text-decoration: none;

}
 a:visited {
     color: black;
 }

 .header-text {
     float: left;
     color: white;
     padding-top: 5px;
     font-size: 1.75em;
     font-weight: bold;
     text-decoration: none;
     font-family: helvetica;
     display: inline-block;
     font-family: 'PFDinTextCompPro', helvetica;


 }

 .header-text:visited {
     color: white;
 }

 .logo {
     float:left;
     display: inline-block;
     margin: 5px 5px 0 5px;
     height: 50px;
     width: 50px;
     background-image: url("https://raw.githubusercontent.com/msteffan/nananananonymous/master/app/assets/images/GA_logo.png");
     background-size: cover;
     background-repeat: no-repeat;
 }

 footer {
     margin-top: 20px;
     height: 60px;
     text-align: center;
     background-color: black;
     color: white;
     font-family: "Circular";
     position: relative;
     width: 100%;
     bottom: 0;
     padding-left: 20px;
 }

/******************* INDEX VIEW *******************/
#newLesson {
    margin: 0 auto;
    font-size: .75em;
    line-height: 2.5;
    text-align: center;
    background-color: #FA4542;
    color: white;
    width: 300px;
    height: 60px;
    border-radius: 5px;
}

#newLesson:hover {
    background-color: #F6201D;
}

#newLessonForm {
    display: none;
    margin: 0 auto;
}

label {
    font-size: 24px;
    font-family: helvetica;
}

button {
    margin: 0 auto;
    font-size: 1em;
    line-height: 1.8;
    text-align: center;
    background-color: grey;
    color: white;
    width: 30%;
    height: 50px;
    border-radius: 5px;
}

.lesson-listing {
    width: 50%;
    /*border: 1px solid grey;*/
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    background-color: #ECECEC;
    font-size: 1.5em;
    font-family: helvetica;
}

.showLessonForm {
    display: none;
}

.icon {
    border: 1px solid white;
    margin-top: 10px;
    width:100%;
    padding: 10px 0 10px 10px;
    border-radius: 2px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.icon:hover {
    outline: 6px solid #FBD334;
    outline-offset:-5px;

}

.surveyLink {
    width: 49.4%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.hidden-link {
    display: none;
}

@media (max-width: 1180px) {
    .surveyLink{
        width: 100%;
    }
    #newLessonForm{
        width: 100%;
    }

}

@media (max-width: 700px){
    .lesson-listing {
        width: 100%;
    }
}

/******************** LESSON REPORT VIEW ********************/

h3 {
    font-size: 2em;
    margin-top: 5px;
    text-align: center;
}

h4 {
    margin: 0;
    text-align: center;
}
.box {
    float: left;
    height: 400px;
    width: 50%;
    margin: 0 auto 40px auto;
    border: 1px solid black;
}

.button-wrapper {
    width: 25%;
    margin: 0 auto 40px auto;

}
.graph-button {
    width: 100%;
}
.button-holder {
    margin: 0 auto;
    width: 150px;
    display: inline-block;
}

.comments-list {
    display: none;
}

#showComments {
    margin: 0 auto 40px auto;
    display: block;
}

/******************** RESPONSE NEW VIEW ********************/

.score {
    display: inline-block;
    width: 49%;
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    background-color: #ECECEC;
    font-size: 1.5em;
    font-family: helvetica;
    height: 200px;
    margin-left: 7px;
    text-align: center;

}

.radio{
    border: 1px solid #FA4542;
    background-color: #FA4542;
    width: 15%;
    display: inline-block;
    margin-left: -3px;
    height: 50px;
    line-height: 1.8;
}

.radio:hover {
    background-color: #F6201D;
    outline: 7px solid #FBD334;
    outline-offset:-3px;
}

.name-box {
    font-family: helvetica;
    background-color: #ECECEC;
    width: 50%;
    margin: 30px auto;
    padding: 20px;
}

input[type="text"], textarea {
    height: 50px;
    line-height: 2;
    width: 98%;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
}

input[type="submit"]{
    margin: 0 auto;
    font-size: 1em;
    line-height: 1.8;
    text-align: center;
    background-color: #FA4542;
    color: white;
    width: 98%;
    height: 60px;
    border-radius: 5px;
}
input[type="submit"]:hover{
    background-color:#F6201D
}

.submit-button {
    width: 30%;
    margin: 0 auto;
}

@media (max-width: 1100px){
    .score {
        display: block;
        margin: 10px auto;
    }
}

@media (max-width: 1100px){
    .score {
        display: block;
        margin: 10px auto;
    }
}


@media (max-width: 700px){
    .score {
        width: 100%;
    }
    .name-box {
        width: 100%;
    }
}
